<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Asia Pacific</key>
	<dict>
		<key>code</key>
		<string>Asia</string>
		<key>countries</key>
		<dict>
			<key>Macau</key>
			<string>MO</string>
			<key>Maldives</key>
			<string>MV</string>
			<key>Malaysia</key>
			<string>MY</string>
			<key>Nepal</key>
			<string>NP</string>
			<key>Philippines</key>
			<string>PH</string>
			<key>Cocos Islds</key>
			<string>CC</string>
			<key>China</key>
			<string>CN</string>
			<key>Afghanistan</key>
			<string>AF</string>
			<key>Bangladesh</key>
			<string>BD</string>
			<key>Brunei Daruss</key>
			<string>BN</string>
			<key>Bhutan</key>
			<string>BT</string>
			<key>Hong Kong</key>
			<string>HK</string>
			<key>Indonesia</key>
			<string>ID</string>
			<key>India</key>
			<string>IN</string>
			<key>Indian Ocean</key>
			<string>IO</string>
			<key>Cambodia</key>
			<string>KH</string>
			<key>North Korea</key>
			<string>KP</string>
			<key>Korea</key>
			<string>KR</string>
			<key>Japan</key>
			<string>JP</string>
			<key>Lao People&apos;s Democratic Republic</key>
			<string>LA</string>
			<key>Sri Lanka</key>
			<string>LK</string>
			<key>Thailand</key>
			<string>TH</string>
			<key>Taiwan</key>
			<string>TW</string>
			<key>Vietnam</key>
			<string>VN</string>
			<key>Pakistan</key>
			<string>PK</string>
			<key>Singapore</key>
			<string>SG</string>
			<key>Un Of Myanmar</key>
			<string>MM</string>
			<key>Mongolia</key>
			<string>MN</string>
		</dict>
	</dict>
	<key>Australia/New Zealand</key>
	<dict>
		<key>code</key>
		<string>AUNZ</string>
		<key>countries</key>
		<dict>
			<key>Australia</key>
			<string>AU</string>
			<key>New Zealand</key>
			<string>NZ</string>
		</dict>
	</dict>
	<key>CEEMEA</key>
	<dict>
		<key>code</key>
		<string>EMEA</string>
		<key>countries</key>
		<dict>
			<key>Mauritius</key>
			<string>MU</string>
			<key>Oman</key>
			<string>OM</string>
			<key>Cyprus</key>
			<string>CY</string>
			<key>Czech Republic</key>
			<string>CZ</string>
			<key>Estonia</key>
			<string>EE</string>
			<key>Egypt</key>
			<string>EG</string>
			<key>U.A.E.</key>
			<string>AE</string>
			<key>Armenia</key>
			<string>AM</string>
			<key>Azerbaijan</key>
			<string>AZ</string>
			<key>Bulgaria</key>
			<string>BG</string>
			<key>Bahrain</key>
			<string>BH</string>
			<key>Georgia</key>
			<string>GE</string>
			<key>Ghana</key>
			<string>GH</string>
			<key>Croatia</key>
			<string>HR</string>
			<key>Hungary</key>
			<string>HU</string>
			<key>Israel</key>
			<string>IL</string>
			<key>Jordan</key>
			<string>JO</string>
			<key>Kenya</key>
			<string>KE</string>
			<key>Kyrgyzstan</key>
			<string>KG</string>
			<key>Kuwait</key>
			<string>KW</string>
			<key>Kazakhstan</key>
			<string>KZ</string>
			<key>Lebanon</key>
			<string>LB</string>
			<key>Lithuania</key>
			<string>LT</string>
			<key>Latvia</key>
			<string>LV</string>
			<key>Morocco</key>
			<string>MA</string>
			<key>Tajikstan</key>
			<string>TJ</string>
			<key>Turkmenistan</key>
			<string>TM</string>
			<key>Tunisia</key>
			<string>TN</string>
			<key>Turkey</key>
			<string>TR</string>
			<key>Tanzania</key>
			<string>TZ</string>
			<key>Ukraine</key>
			<string>UA</string>
			<key>Uganda</key>
			<string>UG</string>
			<key>Uzbekistan</key>
			<string>UZ</string>
			<key>South Africa</key>
			<string>ZA</string>
			<key>Zambia</key>
			<string>ZM</string>
			<key>Poland</key>
			<string>PL</string>
			<key>Qatar</key>
			<string>QA</string>
			<key>Romania</key>
			<string>RO</string>
			<key>Russian Federation</key>
			<string>RU</string>
			<key>Saudi Arabia</key>
			<string>SA</string>
			<key>Slovenia</key>
			<string>SI</string>
			<key>Nigeria</key>
			<string>NG</string>
			<key>Serbia</key>
			<string>RS</string>
			<key>Namibia</key>
			<string>NA</string>
			<key>Botswana</key>
			<string>BW</string>
			<key>Gabon</key>
			<string>GA</string>
			<key>Cote D&apos;Ivoire</key>
			<string>CI</string>
			<key>Slovakia</key>
			<string>SK</string>
		</dict>
	</dict>
	<key>Europe</key>
	<dict>
		<key>code</key>
		<string>EUR</string>
		<key>countries</key>
		<dict>
			<key>Germany</key>
			<string>DE</string>
			<key>Sweden</key>
			<string>SE</string>
			<key>Luxembourg</key>
			<string>LU</string>
			<key>Portugal</key>
			<string>PT</string>
			<key>Italy</key>
			<string>IT</string>
			<key>Iceland</key>
			<string>IS</string>
			<key>Ireland</key>
			<string>IE</string>
			<key>Greece</key>
			<string>GR</string>
			<key>Gibraltar</key>
			<string>GI</string>
			<key>United Kingdom</key>
			<string>GB</string>
			<key>France</key>
			<string>FR</string>
			<key>Denmark</key>
			<string>DK</string>
			<key>Spain</key>
			<string>ES</string>
			<key>Finland</key>
			<string>FI</string>
			<key>Switzerland</key>
			<string>CH</string>
			<key>Austria</key>
			<string>AT</string>
			<key>Belgium</key>
			<string>BE</string>
			<key>Netherlands</key>
			<string>NL</string>
			<key>Norway</key>
			<string>NO</string>
		</dict>
	</dict>
	<key>Latin America</key>
	<dict>
		<key>name</key>
		<string>LatAm</string>
		<key>countries</key>
		<dict>
			<key>Venezuela</key>
			<string>VE</string>
			<key>Bahamas</key>
			<string>BS</string>
			<key>Brazil</key>
			<string>BR</string>
			<key>Costa Rica</key>
			<string>CR</string>
			<key>Argentina</key>
			<string>AR</string>
			<key>Cuba</key>
			<string>CU</string>
			<key>Colombia</key>
			<string>CO</string>
			<key>Chile</key>
			<string>CL</string>
			<key>Peru</key>
			<string>PE</string>
			<key>Panama</key>
			<string>PA</string>
			<key>Mexico</key>
			<string>MX</string>
			<key>Bermuda</key>
			<string>BM</string>
			<key>Uruguay</key>
			<string>UY</string>
		</dict>
	</dict>
	<key>North America</key>
	<dict>
		<key>name</key>
		<string>NAM</string>
		<key>countries</key>
		<dict>
			<key>Canada</key>
			<string>CA</string>
			<key>United States</key>
			<string>US</string>
		</dict>
	</dict>
</dict>
</plist>
